:root{
	--text: #000;
	--hover: #fafafa;
	--hover2: #fff;
	--border: #ccc;
	--shadow: #ddd;
	--placeholder: #bbb;
	--bg: #fff;
	--pri: #06b5e0;
	--pri2: #0670e0;
	--pri_hover: #06b5e0bb;
	--pri_dark: #059abe;
}
html{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 60px;
	background: var(--bg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding-bottom: 200px;
	background: var(--bg);
	min-height: 100vh;
}

input, textarea{
	outline: none;
}

input::placeholder{
	color: var(--placeholder);
}

h1, h2, h3{
	font-weight: normal;
	text-align: center;
}

h1{
	font-size: 30px;
}


/*----------- BODY ---------*/

.container{
	width: 900px;
	margin: 0 auto;
}

.section-heading{
	font-size: 40px;
	margin: 40px auto;
	margin-top: 80px;
}

.landing-top{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	box-shadow: 0px 2px 4px var(--shadow);
	justify-content: center;
	align-items: center;
	color: white;
	text-shadow: 2px 0 6px black;
	background-image: url("/img/bg.jpg");
}

.landing-top h1{
	font-size: 30px;
	text-align: left;
}

.landing-top h2{
	max-width: 350px;
	font-size: 24px;
	text-align: left;
}

.landing-logo{
	width: 160px;
	margin-left: -20px;
	margin-right: 20px;
}


/*-------------- PLAYGROUND ---------*/
.playground
{
	height: 400px;
	width: 100%;
	display: flex;

}

.playground-titles{
	display:flex;
}

.playground-titles div{
	width: 50%;
	padding: 12px 20px;
	font-size: 16px;
	background: var(--hover);
	border-left: 1px solid var(--pri);
	border-top: 1px solid var(--pri);
}

.playground-title-out{
	border-right: 1px solid var(--pri);
}

.playground-input, .playground-output{
	width: 50%;
	height: 100%;
	border: 1px solid var(--pri);
}

.playground-input textarea{
	height: 100%;
	width: 100%;
	resize: none;
	font-size: 16px;
	padding: 6px;
	border: none;
}

.playground-input{
	border-right: none;
}

/*------- DOCS --------*/
.docs-con{
	display: flex;
}

.docs-body-con{
	margin: 0px 300px;
	min-height: 100px;
	background: var(--background);
	width: 100%;
}

.docs-nav-con{
	padding: 30px 0px;
	padding-bottom: 200px;
	width: 300px;
	display: inline-block;
	position: fixed;
	top: 0;
	background: var(--hover);
	height: 100%;
	z-index: 5;
	margin-top: 60px;
	box-shadow: 0px 0px 4px var(--shadow);
	overflow-y: auto;
}

.docs-nav-list{
	line-height: 30px;
}

.docs-nav-item{
	padding-left: 30px;
	width: 100%;
	line-height: 40px;
	color: var(--text);
	text-decoration: none;
	cursor: pointer;
	border-left: 6px solid transparent;
	user-select: none;
	margin-left: 10px;
}

.docs-nav-item[active="true"]{
	border-left: 6px solid var(--pri) !important;
	background: var(--hover2);
}

.docs-nav-item:hover{
	color: var(--pri2);
	background: var(--hover2);
	border-left: 6px solid var(--shadow);
}

.docs-content{
	padding: 20px;
	width: 800px;
	margin: auto;
	line-height: 1.6;
}

pre{
	min-height: auto;
}

pre code{
	font-size: 16px;
	background: #444;
	color : white;
	display: block;
	padding: 15px 50px;
	margin: 10px 0px;
	line-height: 1.6;
	tab-size: 2;
}

.docs-content h1{
	margin-bottom: 30px;
	margin-top: 44px;
	font-size: 36px;
}

.docs-content h2{
	margin-top: 50px;
	margin-bottom: 20px;
}

.docs-content p{
	padding-bottom: 20px;
}

.download-btn{
	display: block;
	width: 300px;
	text-align: center;
	border : none;
	cursor: pointer;
	line-height: 60px;
	font-size: 20px;
	color: white;
	background: var(--pri);
	user-select: none;
	margin: 50px auto;
	margin-bottom: 120px;
	border-bottom: 0px solid transparent;
	outline: none;
}

.centered{
	display: block;
	width: 100%;
	text-align: center;
}

.download-btn:hover{
	background: var(--pri_hover);
	transition: 0.1s;

}

hr{
	margin-top: 80px;
	border-color: var(--hover);
}

.docs-footer-nav{
	margin-top: 90px;
	width: 100%;
}

.footer-nav-btn{
	float: right;
	width: 200px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fafafa;
	border: 2px solid var(--pri_dark);
}

.footer-nav-btn:hover{
	border-color: var(--pri_hover);
}

.footer-nav-btn:hover::after{
	margin-left: 36px;

}

.footer-nav-btn::after{
	content: '\00bb';
	font-size: 30px;
	margin-left: 30px;
	margin-top: -2px;
	position: absolute;
	transition: 0.3s;
}

@media only screen and (max-width: 1400px) {
	.docs-content{
		margin-left: 350px;
	}
}
