/*----------- CARD ---------*/
.card-con{
	display: flex;
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}

.card{
	padding: 30px;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.card img{
	max-width: 120px;
	margin: 0 auto;
}

.card h3{
	padding-top: 30px;
}
