/*----------- CARD ---------*/
.card-con{
	display: flex;
  flex-flow: wrap;
	align-items: center;
  justify-content: center;
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}

.card{
	padding: 30px;
	text-align: center;
	width: 300px;
	margin-bottom: 20px;
}

.card img{
	max-width: 120px;
	margin: 0 auto;
}

.card h3{
	padding-top: 30px;
}
