:root{
	--text: #000;
	--hover: #fafafa;
	--hover2: #fff;
	--border: #ccc;
	--shadow: #ddd;
	--placeholder: #bbb;
	--bg: #fff;
	--pri: #ed8b16;
	--pri2: #0670e0;
	--pri_hover: #f14713;
	--pri_dark: #059abe;
}
