:root{
	--text: #000;
	--hover: #fafafa;
	--hover2: #fff;
	--border: #ccc;
	--shadow: #ddd;
	--placeholder: #bbb;
	--bg: #fff;
	--pri: #ed8b16;
	--pri2: #0670e0;
	--pri_hover: #f14713;
	--pri_dark: #059abe;
}
html{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 60px;
	background: var(--bg);
}

pre p{
	font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	margin: 0;
	padding-bottom: 200px;
	background: var(--bg);
	min-height: 100vh;
}

input, textarea{
	outline: none;
}

input::placeholder{
	color: var(--placeholder);
}

h1, h2, h3{
	font-weight: 500;
	text-align: center;
}

h1{
	font-size: 34px;
}

a, a:visited{
	color: var(--pri);
}

a:hover{
	color: var(--pri_hover);
}

table{
	border-collapse: collapse;
	border: 1px solid var(--shadow);
	margin-top: 10px;
}

td, th{
	padding: 10px 24px;
	border: 1px solid var(--shadow);
	text-align: center;
}

th{
	background: var(--pri);
	color: white;
}

#app{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*----------- BODY ---------*/

.container{
	width: 900px;
}

.section-heading{
	font-size: 40px;
	margin-top: 80px;
}

.landing-top{
	display: flex;
	flex-wrap: wrap;
	height: 400px;
	justify-content: center;
	align-items: center;
}

.landing-top h1{
	font-size: 30px;
	text-align: left;
}

.landing-top h2{
	max-width: 350px;
	font-size: 24px;
	text-align: left;
}

.landing-logo{
	width: 160px;
	margin-left: -20px;
	margin-right: 20px;
}


/*-------------- PLAYGROUND ---------*/
.playground
{
	height: 400px;
	width: 100%;
	display: flex;

}

.playground-titles{
	display:flex;
}

.playground-titles div{
	width: 50%;
	padding: 12px 20px;
	font-size: 16px;
	background: var(--hover);
	border-left: 1px solid var(--pri);
	border-top: 1px solid var(--pri);
}

.playground-title-out{
	border-right: 1px solid var(--pri);
}

.playground-input, .playground-output{
	width: 50%;
	height: 100%;
	border: 1px solid var(--pri);
}

.playground-input textarea{
	height: 100%;
	width: 100%;
	resize: none;
	font-size: 16px;
	padding: 6px;
	border: none;
}

.playground-input{
	border-right: none;
}

/*------- DOCS --------*/
.docs-con{
	display: flex;
}

.docs-body-con{
	min-height: 100px;
	background: var(--background);
	width: 100%;
}

.docs-nav-con, .api-nav{
  position: fixed;
  top: 60;
  left: 0;
  padding-top: 0px;
  width: 300px;
  background: var(--hover);
  box-shadow:0 0 4px var(--shadow);
  height: 100%;
  /* animation: slidein .2s ease-in-out; */
}

.docs-nav-list{
	padding-top: 30px;
	line-height: 30px;
}

.docs-nav-list a, .api-nav a{
  display: block;
  padding-left: 30px;
  line-height: 40px;
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  border-left: 6px solid transparent;
  user-select: none;
  margin-left: 10px;
}

.docs-nav-list a[active="true"], .api-nav a[active="true"]{
	border-left: 6px solid var(--pri) !important;
	background: var(--hover2);
}

.docs-nav-item:hover, .api-nav a:hover{
	background: var(--hover2);
	border-left: 6px solid var(--shadow);
}

.docs-content{
	padding: 20px;
	width: 800px;
	/* animation: animIn .2s ease-in; */
	line-height: 1.6;
}

pre{
	min-height: auto;
	white-space: pre-wrap;
}

pre code{
	font-size: 16px;
	background: #444;
	color : white;
	display: block;
	padding: 15px 50px;
	margin: 10px 0px;
	line-height: 1.6;
	tab-size: 2;
}

.docs-content h1, .docs-content h2, .docs-content h3{
	text-align: left;
}


.docs-content h1{
	margin-bottom: 20px;
	margin-top: 44px;
	font-size: 42px;

}

.docs-content h2{
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 30px;
}

.docs-content h2:before{
	content : "";
	height: 2px;
	width: 100%;
	display: block;
	margin-bottom: 50px;

	background: var(--shadow);
}

.docs-content p{
	padding-bottom: 20px;
}

.download-btn{
	display: block;
	width: 300px;
	text-align: center;
	border : none;
	cursor: pointer;
	line-height: 60px;
	font-size: 20px;
	color: white;
	background: var(--pri);
	user-select: none;
	margin: 50px auto;
	margin-bottom: 120px;
	border-bottom: 0px solid transparent;
	outline: none;
}

.centered{
	display: block;
	width: 100%;
	text-align: center;
}

.download-btn:hover{
	background: var(--pri_hover);
	transition: 0.1s;

}

hr{
	margin-top: 80px;
	border-color: var(--hover);
}

.docs-footer-nav{
	margin-top: 90px;
	width: 100%;
}

.footer-nav-btn{
	float: right;
	width: 200px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	background: #fafafa;
	border: 2px solid var(--pri_dark);
}

.footer-nav-btn:hover{
	border-color: var(--pri_hover);
}

.footer-nav-btn:hover::after{
	margin-left: 36px;

}

.footer-nav-btn::after{
	content: '\00bb';
	font-size: 30px;
	margin-left: 30px;
	margin-top: -2px;
	position: absolute;
	transition: 0.3s;
}

@media only screen and (max-width: 1400px) {
	.docs-content{
		margin-left: 350px;
	}
}

/*----- background masking ------*/
@keyframes placeholderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.placeholder {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #f7f7f7 10%, #eeeeee 18%, #f7f7f7 33%);
    background-size: 800px 104px;
    height: 100px;
    position: relative;
		border-radius: 2em;
}

.placeholder-heading{
	width: 80%;
	height: 36px;
	margin: 50px auto;
	margin-top: 54px;
}

.placeholder-line{
	width: 80%;
	height: 16px;
	margin: 12px auto;
}
