.api-con{
  padding-top: 20px;
  width: 700px;
  padding-bottom: 300px;

}

.api-con pre code{
  padding: 15px 20px;
  margin-top: 30px;
}

@keyframes expand {
  from {
    transform: scaleX(0.5);
    opacity: 0;
  }
}

.api-code{
  animation: expand .3s ease-in-out;
}

.show-code{
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  margin-top: 30px;
  width: 220px;
  text-align: center;
  background: #888;
}

.show-code:hover{
  background: var(--pri);
}

.api-con h1{
  text-align: left;
}

.api-con h2{
  text-align: left;
  margin-top: 70px;
}

.api-con h2:before{
  content: "";
  display: block;
  height: 1px;
  background: var(--border);
  width: 100%;
  margin-bottom: 70px;
}

.api-con h3{
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}

.api-con h4{
  margin-bottom: 8px;
}

.api-content{
  margin-top: 100px;
}

.api-con ul{
  margin-top: 0px;
  padding: 0;
  list-style-type: none;
}

.api-con li a{
  display: block;
  padding: 5px 20px;
  width: 80%;
  border-left: 3px solid var(--hover);
  color: black;
  text-decoration: none;
}

.api-con li a:hover{
  border-color: var(--pri);
  background: var(--hover);
  transition: 0.2s;
}

.api-props-table-con{
  margin-left: 30px;
}

.api-content-item{
  margin-bottom: 60px;
  margin-left: 30px;
}

.static{
  color: #888;
  font-size: 16px;
}

.api-content-item-info{
  border-left: 2px solid var(--pri);
  padding: 14px 18px;
  background: var(--hover);
}

.api-content-item-info pre{
  margin: 0px;
  padding: 0px;
}

.api-content-item-return{
  margin-top: 20px;
}

.api-returns{
  font-weight: bold;
}

@keyframes slidein {
  from {
    margin-left: -300px;
  }
}

@keyframes slideout {
  to {margin-left: -300px;}
}


.api-nav h3{
  text-align: left;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 0px;
  border-bottom: 2px solid var(--pri);
  margin-top: 20px;
}


.api-extend{
  font-size: 16px;
}

.api-extend a{
  text-decoration: none;
}

.api-cls-overview{
  display: flex;
  flex-wrap: wrap;
}

.col{
  flex: 1 1 auto;
  min-width: 100px;
}
